

.containterBody {
    padding-top: 20px;
}

.subtitle {
    font-size: 18px;
    padding-left: 2px;
    font-family: app;
}

.subtitle2 {
    font-size: 16px;
}

.cardStyle {
    margin-top: 20px;
    /* border: solid 0.5px #F5FFB1; */
}

h2 {
    font-family: app;
}
