
.inputSize {
    width: 85px;
    text-align: center;
}

.buttonsStyles {
    font-size: 17px;
    color: #F5FFB1;
    background-color: #363A16;
    border-color: #363A16;
}

.buttonsStyles:hover {
    background-color: #F5FFB1;
    color: #363A16;
    border-color: #363A16;
}