

.bgColor {
    background-color: #363A16;
    /* position: fixed; */
}

.fontColor {
    font-family: app;
    text-transform: uppercase;
    color: #F5FFB1;
    padding-top: 7px;
    padding-right: 15px;
}

.fontColor:hover {
    color: #C62828;
}

.buyBy {
    color: #F5FFB1;
    font-family: app;
    font-style: italic;
    padding: 11px 20px 0px 25px;
}

@media (max-width: 415px) {

    .buyBy {
        color: #F5FFB1;
        font-family: app;
        font-style: italic;
        padding: 0px 0px;
    }
}